function Bomb.new 0
push constant 4
call Memory.alloc 1
pop pointer 0
push constant 7
pop this 2
push constant 48
pop this 3
push constant 250
pop this 0
push constant 125
pop this 1
push pointer 0
return
function Bomb.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Bomb.plant 0
push argument 0
pop pointer 0
push argument 1
pop this 0
push argument 2
pop this 1
push constant 0
return
function Bomb.drawBomb 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 2
call Screen.drawCircle 3
pop temp 0
push constant 0
return
function Bomb.getX 0
push argument 0
pop pointer 0
push this 0
return
function Bomb.getY 0
push argument 0
pop pointer 0
push this 1
push constant 8
sub
return
function Bomb.explode 7
push argument 0
pop pointer 0
push this 0
push this 3
push constant 2
call Math.divide 2
sub
pop local 1
push this 0
push this 3
push constant 2
call Math.divide 2
add
push constant 1
sub
pop local 0
push this 1
push this 3
push constant 2
call Math.divide 2
sub
pop local 3
push this 1
push this 3
push constant 2
call Math.divide 2
add
push constant 1
sub
pop local 2
push constant 0
not
call Screen.setColor 1
pop temp 0
push local 3
push argument 8
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
push constant 8
sub
push argument 8
push this 0
push constant 7
add
push local 2
call Screen.drawRectangle 4
pop temp 0
goto IF_END0
label IF_FALSE0
push local 2
push argument 7
gt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 0
push constant 8
sub
push local 3
push this 0
push constant 7
add
push argument 7
push constant 1
sub
call Screen.drawRectangle 4
pop temp 0
goto IF_END1
label IF_FALSE1
push this 0
push constant 8
sub
push local 3
push this 0
push constant 7
add
push local 2
call Screen.drawRectangle 4
pop temp 0
label IF_END1
label IF_END0
push local 1
push argument 6
lt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push argument 6
push this 1
push constant 8
sub
push local 0
push this 1
push constant 7
add
call Screen.drawRectangle 4
pop temp 0
goto IF_END2
label IF_FALSE2
push local 0
push argument 5
gt
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 1
push this 1
push constant 8
sub
push argument 5
push constant 1
sub
push this 1
push constant 7
add
call Screen.drawRectangle 4
pop temp 0
goto IF_END3
label IF_FALSE3
push local 1
push this 1
push constant 8
sub
push local 0
push this 1
push constant 7
add
call Screen.drawRectangle 4
pop temp 0
label IF_END3
label IF_END2
push constant 100
call Sys.wait 1
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push local 3
push argument 8
lt
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push this 0
push constant 8
sub
push argument 8
push this 0
push constant 7
add
push local 2
call Screen.drawRectangle 4
pop temp 0
goto IF_END4
label IF_FALSE4
push local 2
push argument 7
gt
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push this 0
push constant 8
sub
push local 3
push this 0
push constant 7
add
push argument 7
push constant 1
sub
call Screen.drawRectangle 4
pop temp 0
goto IF_END5
label IF_FALSE5
push this 0
push constant 8
sub
push local 3
push this 0
push constant 7
add
push local 2
call Screen.drawRectangle 4
pop temp 0
label IF_END5
label IF_END4
push local 1
push argument 6
lt
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push argument 6
push this 1
push constant 8
sub
push local 0
push this 1
push constant 7
add
call Screen.drawRectangle 4
pop temp 0
goto IF_END6
label IF_FALSE6
push local 0
push argument 5
gt
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push local 1
push this 1
push constant 8
sub
push argument 5
push constant 1
sub
push this 1
push constant 7
add
call Screen.drawRectangle 4
pop temp 0
goto IF_END7
label IF_FALSE7
push local 1
push this 1
push constant 8
sub
push local 0
push this 1
push constant 7
add
call Screen.drawRectangle 4
pop temp 0
label IF_END7
label IF_END6
push this 1
push constant 8
sub
pop local 5
push this 0
push constant 8
sub
pop local 6
push argument 1
push local 1
gt
push argument 1
push local 1
eq
or
push argument 1
push local 0
lt
push argument 1
push local 0
eq
or
and
push argument 2
push local 5
eq
and
push argument 2
push local 3
gt
push argument 2
push local 3
eq
or
push argument 2
push local 2
lt
push argument 2
push local 2
eq
or
and
push argument 1
push local 6
eq
and
or
push argument 3
push local 1
gt
push argument 3
push local 1
eq
or
push argument 3
push local 0
lt
push argument 3
push local 0
eq
or
and
push argument 4
push local 5
eq
and
or
push argument 4
push local 3
gt
push argument 4
push local 3
eq
or
push argument 4
push local 2
lt
push argument 4
push local 2
eq
or
and
push argument 3
push local 6
eq
and
or
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push constant 0
not
return
label IF_FALSE8
push constant 0
return
